# Supabase integration
# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://yiyrsidoekstaxkearyj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlpeXJzaWRvZWtzdGF4a2VhcnlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4NDc5MTAsImV4cCI6MjA5OTQyMzkxMH0.jQkApgqPpQp70z3EnsP04gtYizRcdUwenWNabB8RllY
